# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# EAS
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
google-services.json
GoogleService-Info.plist

# Metro
.metro-health-check*

# Testing
coverage/
